*               {margin: 0;
                padding: 0;
                }

.try            {background-color:white;}

.all            {
                /* margin-left:15%;
                margin-right:15%;
                margin-top: 10%;   */
                margin:auto;
                width: 960px;
                height: fit-content;
                            
                background-image: url("../media/cafe2.jpg");
                border-width: 2px;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                }

header          {border-style: solid;
                border-width: 1px;
                border-radius: 5px;
                
                }

logo            {float: left;
                border-style: solid;
                }

nav             {margin-left: 1px;
                margin-top:50px;
                margin-bottom:100px
                }

nav ul li       {display: inline;
                border-style: solid;
                border-width: 1px;
                padding:10px;
                text-align: left;
                margin:1px;
                background-color: rgb(96, 68, 43);
                color: white;
                font-weight: 500;
                }
/* .nav ul li{ display:inline} class definitie zie opdrachtomschrijving*/
nav ul li a:link    {color: white;
                    text-decoration: none;
                    }
nav ul li a:visited {color:white;
                    }
nav ul li a:hover   {color:white;
                    font-weight: 1000;
                    } 
nav ul li a:active  {color:white
                    } 

                    main           {display: inline-flex;
                border-style: solid;
                border-width:1px;
                }

article h2      {margin-bottom: 25px;
                text-align: center;
                }

article        {border-style: solid;
                border-radius: 1%;
                border-width: 1px;
                padding:5px;
                margin:10px;
                color: rgb(96, 68, 43);
                } 
                
footer          {border-style: solid;
                border-width: 1px;
                border-radius: 5px;
                margin-top:200px;
                margin-bottom: 25px;
                text-align:center;
                font-weight: 800;
            padding: 1px;} 
  