*,x::before,x::after{margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem; 
    color:white  
}
/*
------------------------------------------------------------------------------------------------------

PART1 CSS

____________________________________________________________________________________________________

 ul li,p {margin:25px;}

a:link{color:lime;}

a[href*="nl"]:hover{
    color:lightskyblue;
    font-weight: bolder;
}

a[href*="be"]:active{
    color:red;
    font-weight: bolder;
}

input:focus{font-size: 3rem;
    color:darkolivegreen;}

a[href*=nw]:visited{color:yellow;

input:focus{border:red 10 px dashed;
}


------------------------------------------------------------------------------------------------------

PART1 CSS

__________________________________________________________________________________________________
} */
ul {width:80%;
    margin:50px auto;
    background-color: dodgerblue;
}

li {display:inline;
    padding:0px
}

ul>li {margin-right:50px;
}

ul li a{padding:50px;
    text-decoration: none;

}

li:first-of-type{background-color: rgb(195, 195, 212);
    border-left: 2px solid dodgerblue;
}

li:hover{background-color: cadetblue;
}

input:focus {
    border:5px solid red;
}





