*,x::before,x::after{margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem; 
    color:white  
}
/*
------------------------------------------------------------------------------------------------------

PART1 CSS

____________________________________________________________________________________________________

 ul li,p {margin:25px;}

a:link{color:lime;}

a[href*="nl"]:hover{
    color:lightskyblue;
    font-weight: bolder;
}

a[href*="be"]:active{
    color:red;
    font-weight: bolder;
}

input:focus{font-size: 3rem;
    color:darkolivegreen;}

a[href*=nw]:visited{color:yellow;

input:focus{border:red 10 px dashed;
}


------------------------------------------------------------------------------------------------------

PART1 CSS

__________________________________________________________________________________________________
} */
/* ul {width:80%;
    margin:50px auto;
    background-color: dodgerblue;
}

li {display:inline;
    padding:0px
}

ul>li {margin-right:50px;
}

ul li a{padding:50px;
    text-decoration: none;

}

li:first-of-type{background-color: rgb(195, 195, 212);
    border-left: 2px solid dodgerblue;
}

li:hover{background-color: cadetblue;
}

input:focus {
    border:5px solid red;
}

 ----------------------------------------------------------------------------------------------
 part2 css
 ---------------------------------------------------------------------------------------------
 */

@import url("https://fonts.googleapis.com/css?family=Oswald:700");

body     {
  background:#231F20;
  text-align:center;
}

h1         {
  color:#FFF;
  font-family:'Oswald';
  font-weight:700;
  position:relative;  
  margin:30px auto;
  text-transform:uppercase;
  width:550px;
  border:1px solid white;
}

h1::before,h1::after{color:red;
    content:'';
    background:#4A90E2;
    display:inline;
    height:25px;
    width:25px;
    position: absolute;
    top:1px;
}

h1::before{border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    left:30px;
    }

h1::after{border-top-right-radius: 50px;
    border-bottom-right-radius:50px;
    right:30px;
}






